body {
	padding-top: 60px;
}
.starter-template {
	padding: 40px 15px;
	text-align: center;
}
.invisible {
	display: hidden;
}
span.required {
	color: red;
}
.operations li{
	display: inline-block;
}

.gi {
    font-size: 50px;
    padding-top: 25px;
}

.lool {
  display: none;
}


input[type=checkbox]:checked ~ div.lool {
  display:block;
}